body{
    margin: 0;
    background-image: url(sunshine.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-size: 4.5rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: hsla(0, 5%, 30%, 0.1);
    width: 100%;
}

