#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-top: 30px;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(104, 150, 57);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.25s;
    border: none;
}

.buttons:hover{
    background-color: rgb(226, 103, 81);
    color: black;
}

body{
    background-color: black;
}